openbb==4.7.1
openbb-benzinga==1.6.0
openbb-bls==1.3.0
openbb-cboe==1.6.0
openbb-cftc==1.3.0
openbb-commodity==1.5.1
openbb-congress-gov==1.2.2
openbb-core==1.6.5
openbb-crypto==1.6.1
openbb-currency==1.6.1
openbb-derivatives==1.6.1
openbb-econdb==1.5.0
openbb-economy==1.6.1
openbb-equity==1.6.1
openbb-etf==1.6.1
openbb-federal-reserve==1.6.0
openbb-fixedincome==1.6.1
openbb-fmp==1.6.0
openbb-fred==1.6.0
openbb-government-us==1.6.0
openbb-imf==2.1.0
openbb-index==1.6.1
openbb-intrinio==1.6.0
openbb-news==1.6.1
openbb-oecd==1.6.0
openbb-platform-api==1.3.5
openbb-regulators==1.6.1
openbb-sec==1.6.0
openbb-tiingo==1.6.0
openbb-tradingeconomics==1.6.0
openbb-us-eia==1.3.0
openbb-yfinance==1.6.0
streamlit==1.59.2
pandas==3.0.1
plotly==6.6.0
